<style>
    .node {
        display: inline-block; 
        border: 1px solid black; 
        padding: 5px; 
        margin: 5px
    }

</style>
<div id="app">
    <div style="overflow-x: scroll; height: 500px">
        <div v-for="level in getTreeByLevels" class="row" style="text-align:center">
            <div style="white-space: nowrap">
                <div v-for="node in level" class="node" :ref="'node-' + node.data" @click="highlightNode(node)">
                    {{node.data}}
                </div>
            </div>
            <br />
        </div>
    </div>
    <br /><br /><br /><br />
    <input v-model="insertValue"/>
    <button @click="addValueToTree(insertValue)">Insert</button>
    <button @click="updateCount()">Count</button>
    <button @click="shuffle()">Shuffle</button>
    <button @click="rebalance()">Rebalance</button>
    <br />
    
    <div style="display: inline-block">
        <button @click="randomizeTreeValues(randomizeValue)">Randomize</button>
        <input v-model="randomizeValue"/>
    </div>
    nodes
    <br />
    <input v-model="searchValue"/>
    <button @click="bfs(searchValue)">Breadth First Search</button>
    <button @click="dfs(searchValue)">Depth First Search</button>
    <button @click="binary(null, searchValue)">Binary Search</button>

    <h4>
        Stats
    </h4>
    Total Height: {{totalHeight}}
    <br />
    Total # of elements: {{totalCount}}
    
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data:  function() {
            return {
                root: null,
                insertValue: null,
                searchValue: null,
                randomizeValue: null,
                totalCount: 0
            }
        },
        created: function() {
            this.randomizeTreeValues(15);
            console.log("===========================")
            console.log(this.getTreeArray(this.getRootNode()));
            console.log("===========================")
            console.log("Look and say");
            console.log("===========================")
            this.printLookAndSay(5);
        },
        computed: {
            totalHeight: function() {
                return this.getHeight(this.root);
            },
            getTreeByLevels: function() {
                if (this.root === null) return null;

                var nodesByLevel = [];
                var currentNode = this.root;
                var nodeArray = [];

                nodeArray.push(currentNode);
                nodesByLevel.push(nodeArray);
                var currentLevel = 0;
                var loop = true;
                while(loop) {
                    var nodeArray = [];
                    nodesByLevel[currentLevel].forEach(function(childNode) {
                        var found = 0;
                        if (childNode.left != null && nodeArray.indexOf(childNode.left == -1)) {
                            nodeArray.push(childNode.left);
                            found++;
                        }
                        if (childNode.right != null && nodeArray.indexOf(childNode.left == -1)) {
                            nodeArray.push(childNode.right);
                            found++;
                        };
                        for (var x=0; x<(2-found); x++) {
                            nodeArray.push({"data":"<>"})
                        }
                    })

                    var hasValue = false;
                    nodeArray.forEach(function(node){
                        if (node.data != "<>") hasValue = true;
                    })
                    if (!hasValue) loop = false;

                    nodesByLevel.push(nodeArray);
                    
                    currentLevel++;
                }
                console.log(JSON.stringify(nodesByLevel));
                return nodesByLevel;
            },
        },
        methods: {
            clear: function() {
                this.root = null;
                this.updateCount();
            },
            randomizeTreeValues(n) {
                this.clear();
                while(this.countNode(this.getRootNode()) < 50) {
                    this.insert(Math.floor(Math.random()*1000));    
                }
            },
            getAllValues(node) {
                var ret = [];
                if (node !== null) {
                    if (node.data != "<>") ret.push(node.data);
                    this.getAllValues(node.left).forEach(function(data) {
                        ret.push(data);
                    });
                    this.getAllValues(node.right).forEach(function(data) {
                        ret.push(data);
                    });
                }
                return ret;
            },
            shuffleArray(array) {
                for (let i = array.length - 1; i > 0; i--) {
                    const j = Math.floor(Math.random() * (i + 1));
                    [array[i], array[j]] = [array[j], array[i]];
                }
            },
            shuffle: function() {
                var values = this.getAllValues(this.root);
                this.clear();
                this.shuffleArray(values);
                values.forEach(function(value) {
                    this.insert(value);
                }.bind(this))
                this.updateCount();
            },
            updateCount: function() {
                this.totalCount = this.countNode(this.root)
            },
            countNode: function(node) {
                var counter = 0;
                if (node == null) return counter;
                if (node.data) counter++;
                return counter + (node.left != null ? this.countNode(node.left) : 0) + (node.right != null  ? this.countNode(node.right) : 0)
            },
            getHeight: function(node) {
                if (node===null) return 0;
                return Math.max(this.getHeight(node.left), this.getHeight(node.right))+1;
            },
            addValueToTree:function(value) {
                this.insertValue == null;
                this.insert(value);
            },
            highlightNodes: function(nodes) {
                var curr = nodes.shift();

                this.highlightNode(curr);

                if (nodes.length > 0) {
                    setTimeout(function() {this.highlightNodes(nodes)}.bind(this), 750);
                }
            },
            highlightNode: function(nodeToHighlight) {
                var node = this.getNodeEl(nodeToHighlight.data)
                var originalBgColor = node.style.backgroundColor;
                if (node != null) {
                    node.style.backgroundColor  = "#FDFF47";
                    setTimeout(function() {
                        node.style.backgroundColor  = originalBgColor;
                    }, 750)
                }
            },
            getNodeEl: function(data) {
                if (this.search(data) != null) {
                    return this.$refs["node-" + data][0];
                }
            },
            insert: function (data) {
                this.insertValue = null;
                if (this.search(this.root, data) != null) return;
                var newNode = {
                    "data": data,
                    "left": null,
                    "right": null
                }
                if (this.root === null) {
                    this.root = newNode;
                } else {
                    this.insertNode(this.root, newNode);
                }
                this.updateCount();
            },
            insertNode: function(node, newNode) {
                if (newNode.data < node.data) {
                    if (node.left === null) {
                        node.left = newNode;    
                    } else {
                        this.insertNode(node.left, newNode);
                    }
                } else {
                    if (node.right === null) {
                        node.right = newNode;
                    } else {
                        this.insertNode(node.right, newNode);
                    }
                }
            },
            getRootNode() {
                return this.root;
            },
            inorder(node) {
                if (node !== null) {
                    this.inorder(node.left);
                    console.log(node.data);
                    this.inorder(node.right);
                }
            },
            getTreeArray(node, memo) {
                if (memo == null) memo = [];
                if (node !== null) {
                    this.getTreeArray(node.left, memo);
                    memo.push(node.data);
                    this.getTreeArray(node.right, memo);
                }
                return memo;
            },
            inorder_it() {
                var nodes = [];
                var current = root;
                while (true) {
                    while (!!current) {
                        nodes.push(current);
                        current = current.left;
                    }

                    if (nodes.length == 0) break;
                    
                    var lastCurrent = nodes.pop();
                    console.log(lastCurrent.data);
                    current = lastCurrent.right;
                }
            },
            search(node, data) {
                if(node === null) 
                    return null; 
                if (data < node.data) {
                    return this.search(node.left, data);
                } else if (data > node.data) {
                    return this.search(node.right, data);
                } else {
                    return node;
                }
            },
            insertMiddle(node, array) {
                var middle = Math.floor(array.length/2);
                this.insert(array.splice(middle,1)[0]);
                return array;
            },
            rebalance(tree) {
                var sortedTreeArray = this.getTreeArray(this.getRootNode());
                this.clear();

                if (sortedTreeArray.length == 1) {
                    this.insert(sortedTreeArray.shift());
                    return;
                }
                var middle = Math.floor(sortedTreeArray.length/2);
                this.insert(sortedTreeArray[middle]);
                var leftSorted = sortedTreeArray.slice(0, middle);
                var rightSorted = sortedTreeArray.slice(middle+1, sortedTreeArray.length);
                while (leftSorted.length && rightSorted.length) {
                    leftSorted = this.insertMiddle(this.getRootNode(), leftSorted);
                    rightSorted = this.insertMiddle(this.getRootNode(), rightSorted);
                }
            },  
            rebalanceHelper(array) {
                if (array.length ==1 || array.length == 2) {
                    for (var i=0; i< array.length; i++) {
                        this.insert(this.getRootNode(), array[i]);
                    }
                    return;
                }

                //More than 2, let's keep halving until we have 1 or 2
                var middle = Math.floor(array.length/2);
                var sortedLeft = array.slice(0, middle);
                var sortedRight = array.splice(middle+1, array.length);
                this.rebalanceHelper(sortedLeft);
                this.rebalanceHelper(sortedRight);
            },
            bfs(value) {
                var queue = [];
                var highlightNodes = [];
                queue.push(this.root);

                while (queue.length > 0) {
                    for (var x=0; x<queue.length; x++) {
                        var curr = queue.shift();

                        highlightNodes.push(curr);

                        if (curr.data == value) {
                            this.highlightNodes(highlightNodes)
                            return curr;
                        }
                
                        if (curr.left) queue.push(curr.left);
                        if (curr.right) queue.push(curr.right);
                    }
                }
                this.highlightNodes(highlightNodes)
                return null;
            },
            dfs(value) {
                var stack = [];
                var highlightNodes = [];
                stack.push(this.root);

                while (stack.length > 0) {
                    for (var x=0; x<stack.length; x++) {
                        var curr = stack.pop();

                        highlightNodes.push(curr);

                        if (curr.data == value) {
                            this.highlightNodes(highlightNodes)
                            return curr;
                        }
                    
                        if (curr.right) stack.push(curr.right);
                        if (curr.left) stack.push(curr.left);
                    }
                }
                this.highlightNodes(highlightNodes)
                return null;
            },
            binary(node, data, highlightNodes) {       
                if(node == null) node = this.root;
                if (highlightNodes == null) highlightNodes = [];

                highlightNodes.push(node);

                if(node == null) {
                    this.highlightNodes(highlightNodes);
                    return null; 
                }
                    
                if (data < node.data) {
                    return this.binary(node.left, data, highlightNodes);
                } else if (data > node.data) {
                    return this.binary(node.right, data, highlightNodes);
                } else {
                    this.highlightNodes(highlightNodes);
                    return node;
                }
            },
            printLookAndSay(n) {
                var val = 1;
                for (var x =1; x <= n; x++) {
                    console.log(val + "\n");
                    val = this.getLookAndSayVal(val);
                }
            },

            getLookAndSayVal(val) {
                var val = val.toString();
                if (val.length == 1) return "1" + val;
                var ret = "";
                var current = val[0];
                var count = 1;
                for (var x =1; x<= val.length; x++) {

                    if (current != val[x] || x == val.length) {
                        ret += count + "" + current;
                        current = val[x];
                    } else {
                        count++;
                    }
                }
                return ret;
            }
        }
    })
</script>
